* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

/* --------------- header start --------------- */
.header {
    display: flex;
    justify-content: space-between;
    padding: 0 210px;
    height: 70px;
    align-items: center;
    background-color: rgb(250, 250, 250);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header img {
    width: 130px;
}

.header-right {
    display: flex;
    gap: 42px;
}

.header-right a {
    text-decoration: none;
    color: #666;
    font-family: Arial;
}

/* --------------- header end --------------- */

/* --------------- hero section start --------------- */

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #424242;
}

.hero-section img {
    width: 690px;
    margin: 135px 0px 60px;
}

.hero-section h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 550;
}

.hero-section p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 400;
}

.hero-section a {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 3px;
    margin-top: 27px;
    background-color: #387ed1;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0) !important;
    font-weight: 550;
    font-size: 20px;
}

/* --------------- hero section end --------------- */

/* --------------- trust section start --------------- */
.trust-section {
    display: flex;
    justify-content: space-between;
    padding: 0 210px;
    margin-top: 100px;
}

.trust-section a {
    color: #387ed1;
    text-decoration: none;
}

.trust-right img {
    width: 620px;
}

.trust-left h2 {
    padding-bottom: 40px;
    color: #424242;
}

.trust-left h3 {
    margin-bottom: 12px;
    font-size: 20px;
    color: #424242;
}

.trust-left p {
    margin-top: 5px;
    margin-bottom: 32px;
    line-height: 1.8;
    color: #666666;
}

.trust-right {
    text-align: center;
}

.product-link-para {
    padding: 16px 0px 15px;
}

.products-link {
    margin-right: 40px;
    color: #387ed1;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

/* ---------------  trust section end --------------- */

/* --------------- news channels section start --------------- */

.news-channels {
    margin: 60px 0;
    text-align: center;
}

/* --------------- news channels section end --------------- */

/* ----------------- pricing section start -----------------   */

.price-section {
    display: flex;
    padding: 50px 210px;
    gap: 40px;
    padding-bottom: 120px;
}

.price-section-left h2 {
    margin-bottom: 24px;
    font-weight: 500;
    color: #424242;
}

.price-section-left p {
    margin: 16px 0px 15px;
    width: 400px;
    line-height: 1.8;
    color: #424242;
}

.price-section a {
    color: #387ed1;
    text-decoration: none;
}

.price-section-right {
    display: flex;
    width: 60%;
}

.price-section-right img {
    width: 108px;

}

.price-section-right div {
    display: flex;
    width: 200px;
    height: 96px;
    justify-content: flex-start;
    align-items: center;
}

.price-section-right div p {
    color: #424242;
    position: relative;
    left: -25px;
    line-height: 16px;
    margin-top: 20px;
}

.price-section-right div .text-3 {
    left: -6px;
}

.price-section-right {
    font-size: 10px;
}

/* ----------------- pricing section end -----------------   */

.last_section {
    padding: 0px 210px 100px;
    width: 100%;
}

.last_section-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.last_section-row h2 {
    margin-top: 0px;
    font-weight: 550;
    margin-bottom: 20px;
    color: #424242;
}

.last_section-row p {
    margin: 16px 0px 15px;
    color: #424242;
    font-weight: 400;
    line-height: 1.8;
}

.last_section-row-right .text-2 {
    margin: 30px 0px 15px;
}