* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid #ffffff;
}

.header img {
    width: 135px;
}

.header-right {
    display: flex;
    gap: 50px;

}

.header-right a {
    text-decoration: none;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    padding: 100px;
    color: #424242;
}

.hero-section img {
    width: 560px;
}

.hero-section h1 {
    margin-top: 50px;
    margin-bottom: 10px;

}

.hero-section p {
    margin-bottom: 20px;
}

.hero-section a {
    text-decoration: none;
    background-color: blue;
    padding: 6px 12px;
    color: white;
    border-radius: 5px;
}