* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 210px;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid #f4efef;
}

.header img {
    width: 133px;
}

.header-right {
    display: flex;
    gap: 50px;

}

.header-right a {
    text-decoration: none;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-section {
    padding: 0 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #424242;
    padding-bottom: 120px;
}

.hero-section img {
    width: 700px;
    height: 320;
    margin: 60px 0;
}

.hero-section h1 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 32px;
}

.hero-section p {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
}

.hero-section a {
    text-decoration: none;
    background-color: #387ed1;
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0) !important;
}

.section-1 {
    padding: 0 210px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.section-1-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.section-1_content-1 {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.section-1_content-2 {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-1_content-1 h2 {
    margin-bottom: 40px;
}

.section-1_content-1 h3 {
    margin-bottom: 8px;
}

.section-1_content-1 p {
    margin: 5px 0px 25px;
}

.content-2 {
    margin: 16px 0px 15px;
    text-align: center;
}

.content-2 a {
    text-decoration: none;
    padding: 10px 30px;
    color: #387ed1;
}

.channel {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.section-2 {
    margin: 0px 210px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.section-2_left {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.section-2_right {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.section-2_right_box1 {}